<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SudokuSolver</title>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center bg-dark text-white">
        <h1 class="mb-3 ">Sudoku Solver</h1>
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          {{form}}
          <input type="submit" class="btn btn-danger" value="Upload" >
        </form>
      </div>
      
      {% if img %}
      <div class="row">
        <div class="col-sm-6">
          <div class="card m-2">
            
            <img src="{{img.photo.url}}" alt="" class="card-img-top" width="50%">
            <div class="card-footer">
            <small class="text-muted">{{img.date}}</small>
            </div>

            <form method="post" enctype="multipart/form-data" action="solveSudoku">
              {% csrf_token %}
              <button type="submit" class="btn btn-success" name="img" value={{img}}>Solve</button>
            </form>
          </div>
        </div> 
        {% if img.solved %} 
        <div class="col-sm-6">
          <div class="card m-2">
          <img src="{{img.solved.url}}" alt="" class="card-img-top" width="50%">
          <div class="card-footer">
          <small class="text-muted">{{img.solved.name}}</small>
          </div>
          </div>
        </div>
        {% endif %}
      </div>
    {% endif %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>